body{
    background-color: #355070;
}

#board{
    display : flex;
    flex-wrap: wrap;
    width : 300px;
    align-content: center;
    justify-content: center;
    background-color: #EAAC8B;
}

.box{
    width: 75px;
    height: 75px;
    border : 1px solid rgb(109, 88, 88);
    text-align: center;
    line-height: 75px;
    margin : 0px;
    font-weight: bold;
    color : #ffffff;
    font-size: 1.5em;
}

.gamer{
    background-color: #83c5be;
}

h1, h2, p{
    text-align: center;
}

h1{
    background-color: #E56B6F;
    color : #ffffff;
    width : 400px;
    padding-top: 30px;
    padding-bottom: 30px;  
    border-radius: 30px;
    border : 3px solid white; 
    margin : 20px auto;
}
h2{
    width : 250px;
    border-radius: 15px;
    padding-top : 10px;
    padding-bottom : 10px;
    margin : 10px auto;
    color : #ffffff;
    background-color: #E56B6F;
}

td{
    width : 100px;
    height : 100px;
    text-align : center;
}

p{
    color : #012931;
    font-weight: bold;
    font-size: 1.3em;
}

#retry{
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: #E56B6F;
    color : white;
    width : 150px;
    height : 50px;
    display: block; /*Par défaut inline block. Ce qui ne le centre pas*/
    margin : 30px auto;
    outline: none;
    border:none;
}

#retry:active{
    width : 149px;
    height : 49px;
    background-color: #9ff1e9;
    color : #012931;
   
}

.gameBorder{
    background-color: #83c5be;
    border-radius: 15px;
    margin : auto;
    width : 100vh;
    height : 350px;
    justify-content: space-evenly;
    display: flex;
    border : 3px solid rgb(255, 255, 255);
}

#competitor1, #competitor2{
    width : 300px;
    margin-top : 150px;
    font-size: 1.5em;
    font-weight: bold;
}